# Maven
target/
*.jar
*.war
*.rar
*.ear
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Build
bin/
build/

# Gradle
.gradle/
gradle-wrapper.jar

# LocalBuildInfo
local.properties